a {
	text-decoration: none !important;
	color: #333 !important;
}

a:hover {
	color: #333 !important;
}

#home .card {
	transition: transform 0.5s !important;
	border: none !important;
}

#home .card:hover {
	transform: scale(0.98) !important;
	border: 1px solid rgb(218, 218, 218) !important;
	box-shadow: none !important;
	z-index: 999 !important;
}
